[Unit]
Description=SimpleProxy Server
After=network.target

[Service]
ExecStart=/usr/bin/simpleproxy
Restart=always
RestartSec=10
User=nobody
Group=nogroup
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
